<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Daftar/Login</title>
    <link rel="shortcut icon" type="image/png" href="https://i.ibb.co/kSyxkJf/care.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <style>
        .gbutton{
            background: #DD4B39;
            color: white;
            border-radius : 10px;
        }
    </style>
    
</body>
</html>
{% extends 'template.html' %}
{% load static %}
{% block content %}

        <div class = "bg-regist">
            <center>
            <h1>Registrasi</h1>
            <div class="card kartu">
                <div class="card-body">
                    <h5 class="card-title judul-card">Daftarkan diri jadi orang baik</h5>
                    <!-- Button Google -->
                    <button class="gbutton">  
                            <a class="btn btn-block btn-google btn-twitter" href="{% url 'social:begin' 'google-oauth2' %}">
                                <span class="fa fa-google"></span> Sign in with google
                            </a>
                    </button>
                    <!-- <button class="gbutton">  
                        <a class="google-button__icon" href="{% url 'social:begin' 'google-oauth2' %}">
                            <span class="fa fa-google"></span> Sign in with google
                        </a>
                    </button>                         -->
                    <!-- Form -->
                    <section name="form" class="form">
                        <div class="flex-wrap d-flex content-section container-fluid bd-highlight text-white" id="contact-form"></div>
                            <div class="p-2 flex-fill bd-highlight">
                                <form id="form form-style" method="POST" action="{% url 'add_user' %}">
                                    <div class="alert alert-dark" role="alert">
                                        {{ terdaftar }}    
                                    </div>
                                    {% csrf_token %}
                                    <!-- {{ regist_form }} -->
                                    <!-- <button id="submit" type="submit" class="btn-submit btn btn-primary btn-style" value="Submit">Daftar</button> -->
                                    <br>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            </center>
        </div>
{% endblock %}
