{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
    <title>Crowd Funding Sinar Perak</title>
    <head>
	    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'styleCrowdFun.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'styleRegist.css' %}" />
    </head>
    <body>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        {% include "navbar.html" %}
        {% block content %} {% endblock %}
        {% include "footer.html" %}
    </body>
</html>

