.transparent{
    opacity: 0.9;
}


.tableBerita{
    padding-top: 10%;
    padding-bottom: 10%;
}



.paddingTitle{
    padding-top: 2%;
}












/* donasi */

.responsiveHeader{
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

.responsiveimg{
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
    
}

@media screen and (max-width: 780px){
    .responsiveimg{
        max-width: 100%;
        width: 30%;
        max-height: 100%;
        height: 30%;
        
    }
}



.fontDonasiJudul{
    margin-top: -20%;
    font-size: 1000%;
    letter-spacing: 0.25em;
    font
    color: rgb(107, 99, 99);
    align-items: center;
}


.locTable0{
    margin-top: 13%;
}

.fontDonasi{
    color: rgb(0,80,115);
    padding-top: 10%;
    line-height: 1;
    letter-spacing: -0.05em;
}
.fontDonasi2{
    color: rgb(0,80,115);
    line-height: 1;
}

.loctable1{
    margin-left: 10%;
    margin-right: 10%;
}


.locIcon1{
    margin-top: 3%;
    
}
.locIcon{
    margin-left: 28%;
    
}

.tableMenuTop{
    padding-top: 1%;
    margin-top: 10%;
    
}
.tableMenu1{
    margin-left: 8%;
}
.tableMenu2{
    margin-left: 2%;
}








.colorBar{
    background-color: yellow;
}



.imgCircle {
    border-radius: 50%;
}

.blockColor{
    background-color: rgb(148, 167, 187);
}

.blockColor2{
    background-color: rgb(195, 227, 236);
}


