.transparent{
    opacity: 0.9;
}

.rows{
    align-content: center;
}
/*tabel*/
.row{
    vertical-align: middle;
    padding-top: 10px;
}
.c-no{
    height:150px; vertical-align: center;
    
}
.grey-bg{
    background: linear-gradient(to bottom, #9BE6A3, #E8E484);
    
}
.counter-Txt{
    text-align:center; 
    font-size:20px; 
    font-weight:bold; 
    text-transform:uppercase; 
    margin-top:20px;
    
}
.counter-Txt span{
    display:block; font-size:36px
    
}

@media(min-width:320px) and (max-width:767px){ 
.c-no{
    height:100%;
}
.counter-Txt{
    margin-top:35px;
}
.margin-bot-35{
    margin-bottom:35px;
    
}
}

/* donasi */

.responsiveHeader{
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

.responsiveimg{
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
    
}

@media screen and (max-width: 780px){
    .responsiveimg{
        max-width: 100%;
        width: 30%;
        max-height: 100%;
        height: 30%;
        
    }
}

.fontDonasiJudul{
    margin-top: -20%;
    font-size: 1000%;
    letter-spacing: 0.25em;
    font
    color: rgb(107, 99, 99);
    align-items: center;
}


.locTable0{
    margin-top: 13%;
}

.fontDonasi{
    color: rgb(0,80,115);
    line-height: 1;
    letter-spacing: -0.05em;
}
.fontDonasi2{
    color: rgb(0,80,115);
    line-height: 1;
}

.loctable1{
    margin-left: 10%;
    margin-right: 10%;
}


.locIcon1{
    margin-top: 3%;
    
}
.locIcon{
    margin-left: 28%;
    
}

.tableMenuTop{
    padding-top: 1%;
    margin-top: 10%;
    
}

.tableMenu1{
    margin-left: 5%;
    margin-bottom: 2%;
}

.colorBar{
    background-color: yellow;
}

.imgCircle {
    border-radius: 50%;
}

.blockColor{
    background-color: rgb(148, 167, 187);
    color: rgb(48, 47, 54);
}

.blockColor2{
    background-color: rgb(195, 227, 236);
}

.blockColor:hover {
    color: white;
    background-color: #fadb76;
}

.responsiveImgDonasi{
    max-width:100%;
  height:auto;
}


/*********************** Demo - 8 *******************/
.box8 .icon,.box8 .title{margin:0;position:absolute}
.box8{box-shadow:0 0 3px rgba(0,0,0,.3);position:relative}
.box8 img{width:100%;height:auto}
.box8 .box-content{width:100%;height:100%;background:rgba(0,0,0,.6);opacity:0;position:absolute;top:0;left:0;transform:perspective(400px) rotateX(-90deg);transform-origin:center top 0;transition:all .5s ease 0s}
.box8 .icon li a,.box8 .title{background:#4C9FB9;font-size:20px;color:white}
.box8:hover .box-content{opacity:1;transform:perspective(400px) rotateX(0)}
.box8 .title{padding:5px 7px;border-radius:5px;font-weight:600;bottom:20px;left:20px;transition:all .9s ease 0s}
.box8 .icon li a,.box9 .box-content,.box9 .icon li,.box9 img{transition:all .35s ease 0s}
.box8:hover .title{bottom: 5px}
.box8 .icon{list-style:none;padding:0;top:42%;left:0;right:0}
.box8 .icon li a{display:block;width:40px;height:40px;line-height:40px;border-radius:50%;margin-right:7px}
.box9 .icon,.box9 .title{width:100%;font-size:22px}
.box8 .icon li a:hover{background:#fff;color:#000}
@media only screen and (max-width:990px){.box8{margin-bottom:20px}
}