.header-berita{
    height: 310px;
    background: url("https://image.ibb.co/fMkezU/Refugees-Background-charcoal-gray.jpg");
    color: white;
    text-align: center;
    padding: 8vmax;
}

.header-berita h1{
    font-size: 60px;
    font-weight: bold;
    vertical-align: middle;
}
.body-berita{
    padding: 3vmax;
}

.body-berita h1{
    text-align: center;
    font-size: 50px;
}

.body-berita center{
    margin-bottom: 2vmax;
}

.foto-berita {
    background: url("https://image.ibb.co/kjdotp/wajah-bahagia.jpg");
    background-repeat: no-repeat;
}

.isi-berita{
    font-size: 20px;
    text-align: justify;
    margin-top: 1.5vmax;
}

.body-berita img{
    max-height: 100%;
    max-width: 100%;
}
.body-berita .btn-style {
    float: right;
    margin-top : 2vmax;
    margin-bottom : 2vmax;

}