{% load staticfiles %}

<!DOCTYPE html>
<html>
<title>Crowd Funding Sinar Perak</title>
<link rel="shortcut icon" type="image/png" href="https://i.ibb.co/kSyxkJf/care.png"/>
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'styleCrowdFun.css' %}" />
<script type="text/javascript" src="jquery-1.8.3.js"></script>
<script type="text/javascript">
   $(window).bind("load resize slid.bs.carousel", function() {
  var imageHeight = $(".active .holder").height();
  $(".controllers").height( imageHeight );
  console.log("Slid");
});
</script>

  {% include "navbar.html" %}

</head>
<body>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">    

<!-- HEADER -->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
           <style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  background-color: grey;
  border: 1px solid black;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: black;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: grey;
  color: black;
}
</style>
</head>
<body>


<p> Total Donasi : {{total}} </p>
<table id="customers">
  <tr>
    <th></th>
    <th>Nama Program</th>
    <th>Jumlah Donasi</th>
  </tr>

  {% for don in donatur %}
  <tr>
    <th> <image src="https://image.flaticon.com/icons/svg/148/148836.svg" style="size:"></th>
    <th>{{don.nama_program}}</th>
    <th>{{don.jumlah_donasi}}</th>
  </tr>
  {% endfor %}

</table>

</body>
        </hgroup>
      </div>
    <div class="item slides">
      <div class="slide-3"></div>
    </div>
  </div> 
</div>

{% include "footer.html" %}

</body>
</html>

