{% extends 'template.html' %}
{% load static %}}
{% block content %}

        <div class = "bg-regist">
            <center>
            <h1>Register Donatur</h1>
            <div class="card kartu" style="">
                <div class="card-body">
                    <h5 class="card-title judul-card">Terimakasih telah berbuat baik</h5>
                    <!-- Form -->
                    <section name="form" class="form">
                        <div class="flex-wrap d-flex content-section container-fluid bd-highlight text-white" id="contact-form"></div>
                            <!-- <h1 style="text-align:center">Please fill this form</h1>
                            <div class="flex-fill bd-highlight">
                                <div class="img-contact"></div>
                            </div> -->
                            <div class="p-2 flex-fill bd-highlight">
                                <form id="form-style" class="form-me" method="POST" action="{% url 'add_donasi' %}">
                                    {% if user.is_authenticated %}
                                        {% csrf_token %}
                                        {{ Donatur_Form.nama_program }}
                                        <p>Nama : {{user.first_name}} {{user.last_name}}</p>
                                        <p>Email : {{user.email}}</p>
                                        {{ Donatur_Form.jumlah_donasi }}
                                        <p>Donasi Sebagai Anonim {{ Donatur_Form.donasi_sebagai_anonim }}</p>
                                    {% else %}
                                        {% csrf_token %}
                                        {{ Donatur_Form }}
                                    {% endif %}
                                    <button id="submit" type="submit" class="btn-submit btn btn-primary btn-style" value="Submit">Kirim</button>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </section>
                    <!-- <button id="history" type="button" class="btn-submit btn btn-primary btn-style" onclick="displayHistory()">Lihat Riwayat Donasi</button> -->
                </div>
            </div>
            </center>

            <!-- <section name="table-history">
                <table class="table table-responsive table-striped" id="list_donasi">
                    <thead>
                        <tr style="text-align:center">
                            <th>Nama Program</th>
                            <th>Jumlah Donasi</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section> -->
        </div>

        <script>

            $('#form-style').on('submit', function (event) {
                event.preventDefault();
                console.log("Form Submitted!");
                saveData();
            });

            function saveData() {
                var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                var program = $('#id_nama_program option:selected').text();
                var donasi = $('#jumlah_donasi').val();
                var anonim = $('#donasi_sebagai_anonim').val();
                console.log(program)
                $.ajax({
                    method: 'POST',
                    url: "/add_donasi/",
                    headers: {
                        "X-CSRFToken": csrftoken,
                    },
                    data: {
                        'nama_program': program,
                        'nama_lengkap': $('#nama_lengkap').val(),
                        'email': $('#email').val(),
                        'jumlah_donasi': donasi,
                        'donasi_sebagai_anonim': anonim,
                    },
                    success: function(result) {
                        if (result.is_success) {
                            $('#nama_program').val('');
                            $('#nama_lengkap').val('');
                            $('#email').val('');
                            $('#jumlah_donasi').val('');
                            $('#donasi_sebagai_anonim').val('');
                            // $('.error-message p').replaceWith("<p class='success'>You have successfully subscribed!</p>");
                            alert("Terimakasih sudah berbuat baik!")
                            console.log("Successfully add data");
                        } else {
                            console.log("gagal")
                            alert("Maaf, anda tidak bisa berdonasi")
                        }
                    },
                    error: function () {
                        alert("Error, cannot save data to database");
                    }
                })
            }

            //  function displayHistory() {
            //     $.ajax({
            //         method: "GET",
            //         url: "donasi_list_json",
            //         success: function (response) {
            //             var array = response.results
            //             if (array.length === 0) {
            //                 $('#list-donasi').append('<span class="list-group-item alert alert-danger text-center" role="alert"> Tidak ada teman di dalam daftar teman Anda</span>')
            //             }
            //             else {
            //                 for (var i = 0; i < array.length; i++) {
            //                     var html = '<tr>' +
            //                                 '<td>' + array[i].nama_program + '</td>' + 
            //                                 '<td>' + array[i].jumlah_donasi + '</td>' + 
            //                                 '</tr>';
            //                     $('tbody').append(html);
            //                 }
            //             }
            //         },
            //         error: function(error){
            //             alert("no one :') ")
            //         }
            //     });
            // };

        </script>        

{% endblock %}
