{% load staticfiles %}
{% load static %}

    <!-- Footer -->
    <footer class="footer-bs">
        <div class="row">
          <div class="col-md-6 footer-brand animated fadeInLeft">
              <h2><img src="https://image.ibb.co/ig1KzU/help.png" width="50"> Sinar Perak Foundation</h2>
                <p>Yayasan kami menyediakan teknologi sebagai sarana untuk berbagi dengan sesama</p>
                <p>© 2018 Kelompok 9 PPW-C, All rights reserved</p>
            </div>
          <div class="col-md-6 footer-social animated fadeInDown">
              <h4>Follow Us</h4>
                  <a href="#"><img src="https://image.ibb.co/f55q69/google-plus.png" alt="google-plus" border="0" width="40"></a>
                  <a href="#"><img src="https://i.imgur.com/N0uAHut.png" alt="google-plus" border="0" width="40"></a>
                  <a href="#"><img src="https://i.imgur.com/XPsWABs.png" alt="google-plus" border="0" width="40"></a>
                  <a href="#"><img src="https://i.imgur.com/IhQmY3h.png" alt="google-plus" border="0" width="40"></a>
            </div>
        </div>
    </footer>
    

