{% load staticfiles %}
{% load static %}

 <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand"><img src="https://image.ibb.co/ig1KzU/help.png" alt="home" border="0" width="50"></a> -->
          	<a class="navbar-brand" href=" ">Sinar Perak Foundation</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/programdonasi/">Program Donasi</a></li>
            <li><a href="/galangdana/">Galang Dana</a></li>
            <li><a href="/berita/">Berita</a></li>

            <li>
              <a class="btn btn-default btn-outline btn-circle collapsed"  data-toggle="collapse" href="#" aria-expanded="false" aria-controls="nav-collapse2">Daftar</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->


