.bg-regist {
    padding-top: 10vmax;
    padding-bottom: 10vmax;
    height: 100%;
    background: url("https://image.ibb.co/fMkezU/Refugees-Background-charcoal-gray.jpg");
    align-content: center;
}

.bg-regist h1{
    color: white;
    font-size: 3vmax;
    font-weight: bold;
}

.kartu {
    width: 40vmax; 
    background: #E8E484; 
    border-radius: 10px;
    padding: 2vmax;
}

.form-style , .btn-style{
    margin-top : 1vmax;
}

.btn-style{
    width: 80px;
    height: 40px;
}

.judul-card{
    font-size: 1.5vmax;
}