.centered {
    letter-spacing: 0.2em;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.responsiveImgH{
    /* max-width: 100%; 
    width: auto;
    max-height: 100%;
    height: auto; */
    width: 100%;
    height: 75%;

}