{% load static %}

<html>

<title>Crowd Funding Sinar Perak</title>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'berita.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<body>
    {% include 'navbar.html' %}
</body>


<!-- <body class="transparent" background="https://bestwallpapers.co/wp-content/uploads/2018/05/cg-marble-wallpapers-39-of-high-quality.jpg"></body> -->

<img src="https://www.savethechildren.org/content/dam/global/images/countries/zambia/zambia-sponsorship-girl-m226536-hero.jpg/_jcr_content/renditions/cq5dam.thumbnail.1700.1700.jpg" class= "responsiveHeader" alt="Cinque Terre" width="1295"
height="450">

<h1 style="font-size:8vw;" class="fontDonasiJudul"><center> NEWS </center></h1>

<div class="blog-section paddingTB60 paddingTitle">
    <div class="container">
        <div class="row">
            <div class="site-heading text-center">
                <h3>Menampilkan berita terbaru </h3>
                <p>Menampilkan informasi terbaru mengenai kejadian yang terjadi baik berita mancanegara maupun dunia <br> Selalu update berita kalian </p>
                <div class="border"></div>
            </div>
        </div>
        <div class="row text-center tableBerita">
               <div class="col-sm-6 col-md-4">
                    <div class="blog-box">
                        <div class="blog-box-image">
                            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/1533C/production/_99244868_palestina24.jpg" class="img-responsive" alt="" width="550" height="200">
                        </div>
                        <br>
                        <div class="blog-box-content">
                            <h4><b>Meningkat, korban tewas Palestina terkait protes Kedubes AS di Yerusalem</b></h4>
                            <p>Dalam bentrokan paling mematikan di Gaza sejak perang pada tahun 2014, pemerintah 
                                Palestina mengatakan tentara  .....</p>
                                <br>
                            <a href="/berita/detail/" class="btn btn-default site-btn">Read More</a>
                        </div>
                    </div>
                </div> <!-- End Col -->			

                <div class="col-sm-6 col-md-4">
                    <div class="blog-box">
                        <div class="blog-box-image">
                            <img src="http://cdn2.tstatic.net/batam/foto/bank/images/jembatan-mayang-di-kecamatan-simpang-teritip-bangka-barat_20170129_093056.jpg" class="img-responsive" alt="">
                        </div>
                        <br>
                        <div class="blog-box-content">
                            <h4><b>Jembatan Putus Dihantam Banjir, Warga Pasaman Barat Terisolir</b></h4>
                            <p>Jembatan yang terletak didaerah Prasmanan Barat runtuh akibat hujan deras yang menerjang
                                kawasan ini pada rabu dini hari...</p>
                            <br>
                            <a href="/berita/detail/" class="btn btn-default site-btn">Read More</a>
                            
                        </div>
                    </div>
                </div> <!-- End Col -->				
                <div class="col-sm-6 col-md-4">
                    <div class="blog-box">
                        <div class="blog-box-image">
                            <img src="https://statik.tempo.co/data/2018/10/17/id_743039/743039_720.jpg" class="img-responsive" alt="" height="300">
                        </div>
                        <br>
                        <div class="blog-box-content">
                            <h4><b>Senyum Tegar Jihan, Anak Cantik Korban Gempa dan Tsunami Palu</b></h4>
                            <p>Gempa dan Tsunami yang telah melanda Palu pada sore kemarin tidak henti-hentinya mendatangkan 
                                korban. Saat ini korban yang sudah terevakuasi sebanya...
                            </p>
                            <br>
                            <a href="/berita/detail/" class="btn btn-default site-btn">Read More</a>
                        </div>
                    </div>
                </div> <!-- End Col -->
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

</html>