{% load staticfiles %}
{% load static %}

<html>
    <title>Berita</title>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'donasi.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styleBerita.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <body>
        <header> {% include "navbar.html" %} </header>
        <div class = "container-fluid header-berita">
            <h1>Berita</h1>
        </div>
        <div class = "body-berita">
            <h1>KPAI Minta Pemerintah Penuhi Hak Dasar Anak Korban Gempa Palu</h1>
            <center>
                <img src="https://image.ibb.co/kjdotp/wajah-bahagia.jpg">
            </center>
            <div class = "isi-berita">
                <p>
                    Komisi Perlindungan Anak Indonesia (KPAI) mengimbau pemerintah pusat dan daerah harus memenuhi hak dasar anak korban gempa Palu, Donggala, dan daerah sekitarnya.
                    <br>
                    <br>
                    Dalam rilis yang diterima Health Liputan6.com pada Jumat (5/10/2018), KPAI menerima pengaduan masyarakat tentang anak- anak yang mengalami trauma dan kehilangan sosok orangtua karena gempa Palu. Selain itu, mereka juga tidak memiliki sarana untuk bermain dan rekreasi.
                    "Gempa juga menyebabkan anak-anak kehilangan tempat bermain, belajar dan rekreasi untuk mendukung tumbuh kembangnya menjadi generasi sehat dan cerdas," ujar Komisioner KPAI Bidang Sosial dan Anak dalam Situasi Darurat, Susianah Affandy. 
                    <br>
                    <br>
                    Untuk itu, KPAI meminta pemerintah harus memenuhi hak-hak dasar anak korban gempa Palu dan sekitarnya, serta kebutuhan primer seperti sandang, pangan, dan papan yang aman.
                    "Pemerintah dan pemerintah daerah harus bergerak cepat dalam melakukan distribusi logistik dan membuka dapur umum di pengungsian sehingga kebutuhan pangan anak-anak dan keluarga korban terpenuhi," kata Susianah.
                </p>
                <br>
                <center><a href="/berita/" class="btn btn-default site-btn">Kembali</a></center>
                <!-- <a type="button" class="btn-submit btn btn-primary btn-style" href="/berita/">Kembali</a> -->
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>
