.bg-regist {
    padding-left: 10vmax;
    padding-right: 10vmax;
    padding-top: 2vmax;
    padding-bottom: 2vmax;
    height: 865px;
    background: url("https://image.ibb.co/fMkezU/Refugees-Background-charcoal-gray.jpg");
}