{% load static %}

<html>
    <title>About</title>

    <head>    
        <link rel="stylesheet" type="text/css" href="{% static 'mycss/testi.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"> 
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'mycss/style.css' %}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'mycss/swiper.min.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>    
        
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="130346898853-57ickc1odadb6qrvh5dm6p837vu8un83.apps.googleusercontent.com">
    
        <script src="{% static 'mycss/testi.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    </head>

    {% include 'navbar.html' %}

    <div class="single-page about-page">
        <div class="page-header" style="margin: 0px; background: url(https://marvel-live.freetls.fastly.net/canvas/2018/12/1f2221fdc7434a91ad46e96ad63ddd44?quality=95&fake=.png) no-repeat center;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>About Us</h1>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-header -->

        <div class="welcome-wrap">
            <div class="container" style="margin-bottom:20px">
                <div class="row">
                    <div class="col-12 col-lg-6 order-2 order-lg-1">
                        <div class="welcome-content">
                            <header class="entry-header">
                                <h2 class="entry-title" style="color:black">Welcome to our Charity</h2>
                            </header><!-- .entry-header -->
    
                            <div class="entry-content mt-5">
                                <p>Ini adalah sebuah website karya anak bangsa yang bertujuan untuk membantu teman-teman untuk menyalurkan dana kepada orang-orang di luar sana yang membutuhkan. Baik itu korban bencana, orang yang kurang mampu, dan lain sebagainya. 
                                    Selain itu, website ini dilengkapi dengan berita yang menampilkan berita-berita baru mengenai kejadian atau bencana yang ada di Indonesia.</p>
                            </div><!-- .entry-content -->
                        </div><!-- .welcome-content -->
                    </div><!-- .col -->
    
                    <div class="col-12 col-lg-6 order-1 order-lg-2">
                        <img src="{% static 'mycss/welcome.jpg' %}" alt="welcome">
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .home-page-icon-boxes -->
    
        <div class="about-stats">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="circular-progress-bar">
                            <div class="circle" id="loader_1">
                                <strong class="d-flex justify-content-center"></strong>
                            </div>
    
                            <h3 class="entry-title">Hard Work</h3>
                        </div>
                    </div>
    
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="circular-progress-bar">
                            <div class="circle" id="loader_2">
                                <strong class="d-flex justify-content-center"></strong>
                            </div>
    
                            <h3 class="entry-title">Pure Love</h3>
                        </div>
                    </div>
    
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="circular-progress-bar">
                            <div class="circle" id="loader_3">
                                <strong class="d-flex justify-content-center"></strong>
                            </div>
    
                            <h3 class="entry-title">Smart Ideas</h3>
                        </div>
                    </div>
    
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="circular-progress-bar">
                            <div class="circle" id="loader_4">
                                <strong class="d-flex justify-content-center"></strong>
                            </div>
    
                            <h3 class="entry-title">Good Decisions</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    
    <!-- <div style="color: rgb(63, 63, 82)" align= "center">
        <img src="http://i.dawn.com/primary/2016/08/57bea5928c8dd.png" 
        style="opacity:0.65;" width="1287" height="500" class="responsiveImgH">
        <h1 style="font-family:Verdana;" class="centered"><b><font size="8">ABOUT</font></b></h1>
        <p style="font-family:Lucida Sans Unicode;" class="centered2">Give us Energy with positive comment! And help us develop this website</p>
    </div> -->

    <br><br><br>
    <div class="box">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="box-part text-center">
                        <br>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMx8qSDdDHQTAT6VBcbtmot4JzqCU2hpTpkL42TScM53j0WY5Kfg" width="200">
                        <div class="title"><h4><b><i>Interface with Fast Access</i></b></h4></div>
                            <div class="text">
                                <span>Always make you easier to access this website! and As always serve with eye-catching website.</span>
                            </div>
                        </div>
                        </div>	 
                        
                         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="box-part text-center">
                                <br>
                                <img style="opacity:0.9;" src="https://www.freeiconspng.com/uploads/feedback-icon-21.png" width="235">
                                <br><br>
                                <div class="title"><h4><b><i>FeedBack</i></b></h4></div>
                                <div class="text">
                                    <span>Give us some advice to make this website more wonderful and reach high-usability.</span>
                                </div>
                             </div>
                        </div>	 
                        
                         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="box-part text-center">
                                <br>
                                <img src="http://madaofansub.com.br/wp-content/uploads/2018/02/quality_check_icon-1.png" width="180">    
                                <br><br>
                                <div class="title"><h4><b><i>Safety</i></b></h4></div>
                                <div class="text">
                                    <span>Apply integrity,
                                        reach more impact to others.</span>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>


        {% if user.is_authenticated %}
            <div class="container">
                <br><br><br>
                <h1 style="color:orange;"><b>Hi {{user.first_name}}! Let's Write Your Testi!</b></h1>
                <h4 style="color:orangered;"><i>you can write anything! Because it's anonim :)</i></h4>
            </div>
            <div class="container">            
                <form id="form" method="POST" class = "rows : 5" action="">
                    <br></br>
                    <!-- <br></br> -->
                    <!-- <input type="text" id ='formInput' placeholder ="coba"> -->
                    <div id = "the_post">
                        <center>{% csrf_token %} {{ form }}</center>
                    </div>
                    <br>
                    <button style="float:right; background-color:rgb(250, 217, 31); color:rgb(252, 252, 244)" id="submit" type="submit" class="btn btn-lg" value="Post"><b>POST</b></button>
                </form>
            </div>
            <div class="about-testimonial">
                <div class="container">
                    <div class="row" id="ea">
                    </div>
                </div>
            </div>
        {% else %}    
            <br><br><br>
            <div class="container">
                <h1 style="color:orange;"><b>Login and Write Your Testi!</b></h1>
            </div>
            <br><br><br>
        {% endif %}               
    </div>

    <div class="about-testimonial">
        <div class="container">
            <div class="row">
                {% if testimoni %}
                    {% for data in testimoni %}
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="testimonial-cont">
                            <div class="entry-content">
                                <p>{{data.pesan_testimoni}}</p>
                            </div>

                            <div class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                <!-- <img src="images/testimonial-1.jpg" alt=""> -->
                                <h4>Anonim</h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    
    <script>
         // Submit post on submit
 $('#form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    create_post();
});

// AJAX for posting
function create_post() {
    console.log("create post is working!") // sanity check
    console.log($('#post-text').val())

    $.ajax({
        type : "POST", 
        url : "/create_post/",                                      //add the url for create post in views
        async: true,
        data : { 
            csrfmiddlewaretoken: '{{ csrf_token }}',                //to handle the csrf
            the_post : $('#post-text').val() },                     //send the data
        
        //When not success
        success : function(json) {
            $('#post-text').val('');                                //empty the field
            $('#ea').prepend(" <div class='col-12 col-md-6 col-lg-5'>"
                                +"<div class='testimonial-cont'>"
                                +'<div class="entry-content">'
                                +'<p>' + json.message + '</p>'
                                +'</div>'
                                +'<div class="entry-footer d-flex flex-wrap align-items-center mt-5">'
                                +'<h4>Anonim</h4>'
                                +'</div>'
                                +'</div>'
                                +'</div>'
                                // +"<p style='color:red'>*Your message will be save. And this is your preview message</p>"                                 
                                );
        // alert("Your message will be save. And this is your preview message ");
        
        },

        // When not success
        error : function(xhr,errmsg,err) {
            $('#post-text').val('');                                // empty the field
            console.log("fail");                                    // Said fail
            // console.log(xhr.status); // provide a bit more info about the error to the console
        }
    });

};   
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script type='text/javascript' src='{% static "mycss/jquery.js" %}'></script>
    <script type='text/javascript' src='{% static "mycss/jquery.collapsible.min.js" %}'></script>    
    <script type='text/javascript' src='{% static "mycss/jquery.countdown.min.js" %}'></script>
    <script type='text/javascript' src='{% static "mycss/jquery.countTo.min.js" %}'></script>
    <script type='text/javascript' src='{% static "mycss/jquery.barfiller.js" %}'></script>
    
    <script type='text/javascript' src="{% static 'mycss/swiper.min.js' %}"></script>
    <script type='text/javascript' src='{% static "mycss/swiper.min.js" %}'></script>
    <script type='text/javascript' src='{% static "mycss/circle-progress.min.js" %}'></script>
    <script type='text/javascript' src="{% static 'mycss/custom.js' %}"></script>

{% include 'footer.html' %}

</html>