{% load static %}

<html>

<title>Donasi</title>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'donasi.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<body>
    {% include 'navbar.html' %}
</body>


<head>
    <img src="https://www.savethechildren.org/content/dam/global/images/countries/zambia/zambia-sponsorship-girl-m226536-hero.jpg/_jcr_content/renditions/cq5dam.thumbnail.1700.1700.jpg" class= "responsiveHeader" alt="Cinque Terre" width="1295"
    height="450">
    <h1 style="font-size:8vw;" class="fontDonasiJudul"><center> DONASI </center></h1>
    
    <script type="text/javascript">
    var a = 0;
$(window).scroll(function() {

  var oTop = $('#counter').offset().top - window.innerHeight;
  if (a == 0 && $(window).scrollTop() > oTop) {
    $('.counter-value').each(function() {
      var $this = $(this),
        countTo = $this.attr('data-count');
      $({
        countNum: $this.text()
      }).animate({
          countNum: countTo
        },

        {

          duration: 10000,
          easing: 'swing',
          step: function() {
            $this.text(Math.floor(this.countNum));
          },
          complete: function() {
            $this.text(this.countNum);
            //alert('finished');
          }

        });
    });
    a = 1;
  }

});</script>
</head>

<!--Tabel -->
<p>  </p>
<p>  </p>
<p>  </p>
<p>  </p>


<div class="grey-bg c-no container-fluid">
    <div class="container">
        <div class="row" id="counter">
            <div class="col-sm-4 counter-Txt"> Lebih Dari <span class="counter-value" data-count="500">0</span> Donatur</div>
            <div class="col-sm-4 counter-Txt"> Lebih Dari<span class="counter-value" data-count="50000000">1000000</span> Dana Terkumpul</div>
            <div class="col-sm-4 counter-Txt margin-bot-35"> Lebih Dari <span class="counter-value" data-count="1000">0</span> Program</div>
        </div>
    </div>
</div>

<div> 
    <center><h1 class= "fontDonasi"><b>Mengapa Donasi Itu Perlu?<b></h1></center>
    <center><h3 class="fontDonasi2">akan mewujudkan impian mereka dalam bidang</h3></center>
    
    <div class="row">
         <div class="col-md-4 text-center"> 
        <div class="icon-box">
            <div class="icon-md">
                <img src="https://image.ibb.co/nzRxm9/heartbeat.png" alt="heartbeat" border="0" width="100">
            </div>
            <h3 class="section-title">Kesehatan</h3>
        </div>
    </div>
          <div class="col-md-4 text-center"> 
        <div class="icon-box">
            <div class="icon-md">
                <img src="https://image.ibb.co/h4uTtp/planet-earth.png" alt="planet-earth" border="0" width="100">
            </div>
            <h3 class="section-title">Kesejahteraan</h3>
        </div>
    </div>
          <div class="col-md-4 text-center"> 
        <div class="icon-box">
            <div class="icon-md">
                <img src="https://image.ibb.co/i7BmeU/classroom.png" alt="classroom" border="0" width="100">
            </div>
                <h3 class="section-title">Pendidikan</h3>
        </div>
    </div>
</div>

                            
{% block content %}
        <div class="container mt-40">
            <div class="row mt-30">
                {% for event in all_events %}
                <div class="col-md-4 col-sm-6">
                    <div class="box8">
                        <img class="card-img-top responsiveImgDonasi" src="{{ event.image_url }}" alt="Card image cap" width="295"height="200">
                        <h3 class="title">{{ event.name }}<br>{{ event.lokasi }}</h3>
                        <div class="box-content">
                            <ul class="icon">
                                {% if user.is_authenticated %}
                                <center><a type="button" class="btn btn-round" style="background-color: #FFB745;border-color:#FFB745; color:black" href="/register_donatur/" ><b>Donasi</b></a></center>
                                {% else %}
                                <center><a type="button" class="btn btn-round" style="background-color: #FFB745;border-color:#FFB745; color:black" href="/registrasi_app/regis" ><b>Donasi</b></a></center>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}


{% include 'footer.html' %}
    
</html>
