{% load staticfiles %}

<!DOCTYPE html>
<html>
<title>Crowd Funding Sinar Perak</title>
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'styleCrowdFun.css' %}" />

	{% include "navbar.html" %}

</head>
<body>
<div class="error-page">
    <h2>Oops!</h2>
    <h1 class="404error"> Mohon Maaf!</h1>
    <h2 class="404error">Program Galang Dana Sedang Dalam Perbaikan</h2>    
    
    <div class="error-actions">
        <a href="{% url ' ' %}" class="btn btn-primary btn-lg">
            Kembali</a>
    </div>
</div>
{% include "footer.html" %}

</body>
</html>

