{% load staticfiles %}

<!DOCTYPE html>
<html>
<title>Crowd Funding Sinar Perak</title>
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'styleCrowdFun.css' %}" />
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="996165362169-4u8fgn778o7ggbt564s16kpd8b5be0de.apps.googleusercontent.com">
</head>
<body>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

 <nav class="navbar navbar-default" style="margin:0px">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url ' ' %}">
          	<span class="image-navbar"></span>Sinar Perak Foundation</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
 <!--            <li>
              <a class="btn btn-default btn-outline btn-circle collapsed"  data-toggle="collapse" href="#nav-collapse2" aria-expanded="false" aria-controls="nav-collapse2">Sign in</a>
            </li> -->
            <li><a href="{% url 'kegiatanDonasi:donasi' %}">Program Donasi</a></li>
            <li><a href="{% url 'dana' %}">Galang Dana</a></li>
            <li><a href="/berita/">Berita</a></li>
            <li><a href="/testimoni/">Tentang Kami</a></li>
            {% if user.is_authenticated %}
            <li><a href="/daftar_donasi/">Riwayat</a></li>
            <li>
              <a href="/registrasi_app/logout" class="btn btn-default btn-outline btn-circle collapsed">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="/registrasi_app/regis" class="btn btn-default btn-outline btn-circle collapsed">Daftar/Login</a>
            </li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    
    <script>
        function signOut() {
        var hapus = sessionStorage.setItem(nama, 0);
         alert("Anda berhasil logout")
         var auth2 = gapi.auth2.getAuthInstance();
         auth2.disconnect().then(function () { 
           console.log("hai")
         });
        }
      
        function onLoad() {
          console.log("halo")
              gapi.load('auth2', function() {
                gapi.auth2.init();
              });
           }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

</body>
</html>

